<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Update <%= budget.name %></h1>
  <form action="/budgets/<%= budget._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= budget.name %>" 
        autocomplete="off"
      >
    </label>
    <label>
      All bills paid?
      <input 
        type="checkbox" 
        name="complete" 
				<%= budget.complete ? "checked" : "" %> 
      >
    </label>
    <button class="btn" type="submit">UPDATE</button>
  </form>
</section>

<%- include('../partials/footer') %>