<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Welcome <%= user.username %>!</p>
  <% if (user) { %>
    <h2>New Budget</h2>
    <form action="/budgets" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Complete?
        <input type="checkbox" name="complete">
      </label>
      <button type="submit">Add Budget</button>
    </form>
    <h3>Budgets:</h3>
    <ul>
      <% budgets.forEach(budget => { %>
        <li>
          <a href="/budgets/<%= budget._id %>">
            <%= budget.name %>
          </a> 
          is <%= budget.complete ? 'all paid' : 'not all paid' %>
          <form action="/budgets/<%= budget._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
</section>

<%- include('../partials/footer') %>