<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Welcome <%= user.username %>!</p>
  <% if (user) { %>
    <h2>New Budget</h2>
    <form action="/budgets" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <button class="btn" type="submit">Add Budget</button>
    </form>
    <h3>Budgets:</h3>
    <div class="flex-container">
      <ul>
        <% budgets.forEach(budget => { %>
          <% if (budget.owner.equals(user?._id)) { %>
            <li>
              <a href="/budgets/<%= budget._id %>">
                <%= budget.name %>
              </a> 
              is <%= budget.complete ? 'all paid' : 'not all paid' %>
            </li>
            <div class="btns">
              <a href="/budgets/<%= budget._id %>/edit">
                <button class="btn" class="inline">EDIT</button>
              </a>
              </form>
              <form action="/budgets/<%= budget._id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit" class="inline">DELETE</button>
              </form>
            </div>
          <% } %>
        <% }) %>
      </ul>
    </div>
  <% } %>
</section>

<%- include('../partials/footer') %>