<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Welcome <%= user.username %>!</p>
  <% if (user) { %>
    <p><%= budget.name %></p>
      <form action="/budgets/<%= budget._id %>/complete?_method=PATCH" method="POST">
        <button class="btn" type="submit">
          All bills are  <%= budget.complete ? 'paid' : 'not paid' %>
        </button>
      </form>
    <h2>New Expense</h2>
    <form action="/budgets/<%= budget._id %>/expenses" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Price: $
        <input type="text" name="price" autocomplete="off">
      </label>
      <label>
        Due Date (mm/dd/yyyy): 
        <input type="text" name="due" autocomplete="off">
      </label>
      <button type="submit">Add Expense</button>
    </form>
    <ul>
      <% budget.expenses?.forEach(expense => { %>
        <li>
          <form action="/budgets/<%= budget._id %>/expenses/<%= expense._id %>?_method=DELETE" method="POST" class="inline">
            <button class="btn" type="submit">DELETE</button>
          </form>
          <%= expense.name %> is $<%= expense.price %> and due on <%= expense.due %>
        </li> 
      <% }) %>
    </ul>
  <% } %>
</section>

<%- include('../partials/footer') %>